.card,
.card-img {
    width: 18rem;
}

.card,
.anchor {
    text-decoration: none;
}

.card,
.card-text {
    color: black;
    margin-top: 50px;
}

.card,
.card-price {
    margin-bottom: 70px;
}



.heart-icon {
    color: white;
    right: 25px;
    top: 10px;
}

@media only screen and (max-width:768px) {
    .bi-heart {
        margin-left: 285px;
    }

}