.image {
    .img {
        width: 18rem;
    }

    .text {
        font-size: 18px;
    }

    .anchor {
        text-decoration: none;
        font-size: 16px;
    }

    .text {
        color: black;
        margin-top: 50px;
    }

    .price {
        margin-bottom: 70px;
        font-size: 18px;
    }

    .heart-icon {
        color: white;
        right: 25px;
        top: 10px;
    }
    .heart-icon title {
        position: relative;
        text-align: start;
    }
  
   

    @media only screen and (max-width: 768px) {
        .heart-heart {
            margin-left: 285px;
        }
    }
}
