.explore {
    .ex-shopping a {
        border: 1px solid black;
        text-decoration: none;
        color: black;
        padding: 12px 28px;
        font-size: 20px;
        font-weight: 400;
    }

    .ex-shopping a:hover {
        background-color: black;
        color: white;
    }

    .ex-top {
        margin-top: 100px;
    }

    .ex-unordered {
        list-style-type: none;
        margin-top: 40px;
        margin-bottom: 20px;
        width: 50%;
    }

    .ex-unordered li > a {
        text-decoration: none;
        color: black;
        padding: 20px 0px;
        font-size: 24px;
        border-bottom: 1px solid black;
    }

    .ex-heading {
        font-size: 50px;
        font-weight: 500;
        line-height: 50px;
        width: 300px;
    }

    .ex-image {
        background-image: url("../../../public/Asserts/twohorses.webp");
        background-repeat: no-repeat;
        background-position: right;
        height: 600px;
        width: 100%;
        background-size: 450px 450px;
        background-position-x: right;
        background-position-y: bottom;
    }

    .ex-unordered li a {
        font-size: 24px;
        line-height: 30px;
        color: #27221d;
        padding: 20px 0;
        display: block;
    }

    .explore ul {
        display: block;
        width: 100%;
        float: left;
    }

    .ex-special {
        border-top: 1px solid black;
    }

    @media only screen and (max-width: 768px) {
        .ex-image {
            background-size: 300px;
            height: 1000px;
        }

        .ex-heading {
            font-size: 36px;
            line-height: 40px;
            padding-left: 0px;
            padding-right: 0px;
        }

        .ex-shopping {
            position: relative;
            top: 567px;
        }

        .ex-unordered {
            padding-left: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .ex-unordered {
            width: 100%;
            border-bottom: none;
        }
        .ex-shopping {
            position: relative;
            top: 537px;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 992px) {
        .ex-image {
            background-size: 400px 300px;
        }
    }
}
