.section,
.title-name {
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
}

.section,
.content {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #27221d;
    padding-top: 35px;
    display: block;
}

.section,
.count-lists h1 {
    font-size: 70px;
    font-weight: 700;
    font-family: sansserif;
}

.section,
.marginleft {
    margin-left: 10px;
}

.section,
.paddingleft {
    padding-left: 110px;
}

.section,
.margin40 {
    margin-left: 40px;
}

.section,
.padding_100 {
    padding: 41px;
}

.section,
.small-title {
    color: black;
    font-size: 16px;
}

.section,
.left-side {
    padding-top: 100px;
}

.section,
.tree-image {
    margin-left: 0;
}

.section,
.rowimage {
    background-image: url('../../Asserts/tree.webp');
    background-repeat: no-repeat;
    background-position: right;
}

@media only screen and (max-width: 768px) {

    .section,
    .rowimage {
        background-size: 120px;
        background-position-y: bottom;
    }


    .section,
    .marginleft {
        width: 100%;
    }

    .section,
    .title-name {
        font-size: 36px;
    }

    .section,
    .content {
        font-size: 16px;
    }


    .section,
    .paddingleft {
        padding-left: 0px;
    }

    .section,
    .margin40 {
        margin-left: 0px;
    }

    .section,
    .count-lists h1 {
        font-size: 36px;
        padding: 10px;
    }


    .section,
    .count-lists span {
        font-size: 13px;
    }



}

@media only screen and (min-width:768px) and (max-width: 992px) {
    .main-content {
        padding: 0px 0px 0px 0px;
        margin: 0px;
    }

    .title-name {
        font-size: 36px;
    }

    .content {
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        color: #27221d;
        padding-top: 35px;
        display: block;
    }

    .rowimage {
        background-size: 234px 380px;
    }

    .paddingleft {
        padding-left: 55px;
    }

}