.login {
    .margin {
        margin-top: 8em !important;
        margin-bottom: 10em;
    }
    .heading {
        font-size: 50px;
        font-weight: 600;
        font-family: "sanserif";
        padding: 25px;
    }

    input {
        border: none;
        border-bottom: 1px solid black;
        background-color: inherit;
        width: 100%;
        padding: 10px;
    }

    input:focus {
        outline: none;
    }

    .button-login input {
        width: 100%;
        padding: 15px;
        background-color: #aeaba0;
        color: white;
        font-size: 20px;
        border: none;
    }

    .button-login input:hover {
        background-color: inherit;
        color: black;
        border: 1px solid black;
    }

    .facebook-icon {
        background-color: #3b5998;
        color: white;
        padding: 10px 20px;
        margin-right: 10px;
        border-radius: 5px;
    }

    form {
        text-align: start;
    }

    .google-icon {
        background-color: #dd4b39;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
    }

    .create {
        margin-top: 20px;
        font-weight: lighter;
    }

    i {
        font-size: 20px;
        margin-left: 15px;
    }

    label {
        margin-top: 20px;
        font-size: 13px;
    }

    .forget-password {
        font-size: 20px;
        margin-bottom: 20px;
        padding: 13px;
    }
    .create{
        margin-top: 20px;
        
    }

    @media only screen and (max-width: 768px) {
        .heading {
            font-size: 40px;
        }
        .margin {
            margin-top: 4em !important;
            margin-bottom: 5em;
        }
    }
}
