:root {
  --medium-size: 20px;
  --small-font: 14px;
  --big-heading: 50px;
  --font-family: "sans-serif";
}
.secondary-button {
  border: 1px solid black;
  padding: 10px 20px;
  background-color: initial;
  text-transform: capitalize;
  font-size: 16px;
}
body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}
